@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
:root {
  --azul: #0e79b2;
  --branco: #FBFEF9;
  --preto: #191923;
  --ffprimaria: "Open Sans", "sans-serif";
  --ffsecond: "Merriweather", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ffsecond);
  background-color: #EDEDED;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--branco);
  position: fixed;
  width: 100%;
  z-index: 100;
}
nav #open-menu-btn {
  border: none;
  background-color: transparent;
}
nav #close-menu-btn {
  display: none;
  border: none;
  background-color: transparent;
}
nav .menu-list {
  background-color: var(--preto);
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0;
  height: 100%;
  width: 60vw;
  justify-content: center;
  display: none;
}
nav .menu-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
nav .menu-list li {
  list-style: none;
}
nav .menu-list li a {
  text-decoration: none;
  color: white;
  font-family: var(--ffprimaria);
}

main {
  padding-top: 5rem;
}
main .hero {
  display: flex;
  justify-content: center;
  background-color: var(--preto);
  height: 30rem;
  align-items: center;
}
main .hero .card-hero {
  background-color: var(--branco);
  padding: 2rem;
  height: 15rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  box-shadow: -6px 6px 12px 0px var(--azul);
}
main .hero .elements-hero {
  font-family: var(--ffprimaria);
}
main .hero .elements-hero h1 {
  font-size: 1.2rem;
  color: var(--preto);
}
main .hero .elements-hero button {
  padding: 0.4rem;
  border: none;
  border-radius: 0.2rem;
  margin-top: 0.6rem;
  color: var(--branco);
  background-color: var(--azul);
  font-weight: 700;
  box-shadow: -3px 7px 7px 1px var(--preto);
}
main .c-destaques {
  background-color: red;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
main .c-destaques .cards-highlights {
  display: grid;
  justify-items: center;
  gap: 2rem;
  font-family: var(--ffprimaria);
}
main .c-destaques .cards-highlights .highlights-card-1 {
  background-color: var(--branco);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  height: 10rem;
  width: 16rem;
}
main .c-destaques .cards-highlights .highlights-card-1 button {
  border: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--azul);
  color: var(--branco);
}
main .c-destaques .cards-highlights .highlights-card-2 {
  background-color: var(--branco);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  height: 10rem;
  width: 16rem;
}
main .c-destaques .cards-highlights .highlights-card-2 button {
  border: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--azul);
  color: var(--branco);
}
main .c-destaques .cards-highlights .highlights-card-3 {
  background-color: var(--branco);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  height: 10rem;
  width: 16rem;
}
main .c-destaques .cards-highlights .highlights-card-3 button {
  border: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--azul);
  color: var(--branco);
}

.container {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.container .card {
  border: 1px solid #0E79B2;
  padding: 3vh;
  margin: 1vh;
  position: relative;
  width: 70vw;
  text-align: center;
  border-radius: 20px;
}

.container .card p {
  padding: 10px 5px;
}

.btn-depoimento {
  background-color: var(--preto);
  color: var(--branco);
  width: 12.5rem;
  height: 2.5rem;
  border-radius: 0.65rem;
}

.container-prox-concurso {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: #EDEDED;
}

section .item-concurso {
  width: 15.63rem;
  height: 12.5rem;
  border: none;
  line-height: 2.5rem;
  margin: 0.62rem 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.62rem;
  border-radius: 0.62rem;
  box-shadow: 0 0 4px 0 #d9dde0;
  background-color: white;
  color: #43458b;
}
section .btn-concurso {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  background-color: var(--preto);
  color: white;
  width: 12.5rem;
  border-radius: 0.62rem;
  cursor: pointer;
  height: 2.5rem;
}

.container-vantagens {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  margin-top: 1.25rem;
  background-color: var(--preto);
  width: 100%;
}

section .item-vantagens {
  width: 15.63rem;
  height: 12.5rem;
  box-shadow: 0 0 4px 0 #d9dde0;
  border: none;
  color: black;
  line-height: 2.5rem;
  margin: 0.62rem 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.625rem 0.625rem;
  border-radius: 10px;
  background-color: white;
}

.item-vantagens:hover {
  box-shadow: 0 3px 8px 0 rgba(181, 186, 189, 0.7490196078);
  transform: scale(1.1);
  transition: transform 500ms;
}

.item-concurso:hover {
  box-shadow: 0 3px 8px 0 rgba(181, 186, 189, 0.7490196078);
  transform: scale(1.1);
  transition: transform 500ms;
}

.planos-title {
  color: var(--branco);
  font-family: var(--ffprimaria);
  font-size: 180%;
  margin: 1rem;
}

#section-planos {
  background-color: var(--preto);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.valor-destaque1 {
  color: red;
  font-weight: bold;
  font-size: 130%;
}

.valor-destaque2 {
  color: green;
  font-weight: bold;
  font-size: 180%;
}

.plano {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: var(--branco);
  color: black;
  margin: 1.5rem 2rem;
  border-radius: 1rem;
  padding: 1rem;
}

.container-vendas {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.plano-content {
  max-width: 30ch;
}

.plano-content p {
  margin: 1rem;
}

.plano-button {
  font-size: 140%;
  border-radius: 2rem;
  padding: 0.2rem 2rem;
  background-color: var(--azul);
  color: var(--branco);
  font-family: var(--ffprimaria);
  font-weight: bold;
}

.plano h3 {
  font-family: var(--ffprimaria);
  font-size: 180%;
}/*# sourceMappingURL=main.css.map */