@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
:root {
  --azul: #0e79b2;
  --branco: #FBFEF9;
  --preto: #191923;
  --ffprimaria: "Open Sans", "sans-serif";
  --ffsecond: "Merriweather", serif;
  --azul-s1: #87BCD9;
  --azul-s2: #62A8CD;
  --azul-s3: #3E94C1;
  --azul-s4: #0B5B86;
  --azul-s5: #084362;
  --azul-s6: #052a3e;
  --branco-s1: #EEF1ED;
  --branco-s2: #BCBFBB;
  --branco-s3: #8a8c89;
  --preto-s1: #303038;
  --preto-s2: #141419;
  --preto-s3: #040405;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ffsecond);
  background-color: #EDEDED;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--branco);
  position: fixed;
  width: 100%;
  z-index: 100;
}
nav .menu-desktop {
  font-family: var(--ffprimaria);
}
nav .menu-desktop ul {
  display: flex;
  list-style: none;
}
nav .menu-desktop ul li {
  margin-left: 3rem;
}
nav .menu-desktop ul li a {
  text-decoration: none;
  color: var(--preto);
}
nav #open-menu-btn {
  border: none;
  background-color: transparent;
}
nav #close-menu-btn {
  display: none;
  border: none;
  background-color: transparent;
}
nav .menu-list {
  background-color: var(--preto);
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0;
  height: 50vh;
  width: 50vw;
  justify-content: center;
  display: none;
}
nav .menu-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
nav .menu-list li {
  list-style: none;
}
nav .menu-list li a {
  text-decoration: none;
  color: white;
  font-family: var(--ffprimaria);
}

main {
  padding-top: 5rem;
}
main .hero {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30rem;
  align-items: center;
  background-color: #3d52af;
  background-image: url(../assets/img/img-hero3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
main .hero .card-hero {
  background-color: transparent;
  padding: 2rem;
  height: 30rem;
  width: 100%;
  opacity: 85%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .hero .card-hero #btn-hero {
  justify-content: center;
  border: none;
  height: 2rem;
  width: 10rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  color: var(--branco);
  background-color: blue;
  font-weight: 700;
  box-shadow: -3px 7px 7px 1px var(--preto);
}
main .hero .elements-hero {
  display: flex;
  flex-direction: column;
  font-family: var(--ffprimaria);
  margin-top: 8rem;
}
main .hero .elements-hero h1 {
  font-size: 2.32rem;
  color: rgb(255, 255, 255);
  text-align: center;
}
main .hero .elements-hero p {
  margin-top: 1rem;
  color: white;
  text-align: center;
  font-size: 1rem;
}
main .c-destaques {
  height: 80rem;
  box-shadow: 0 0 4px 0 var(--azul-s6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--azul-s5);
  font-family: var(--ffprimaria);
  text-align: center;
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
}
main .c-destaques h1 {
  color: var(--branco);
}
main .c-destaques p {
  color: var(--branco);
  width: 90%;
  font-size: 0.9rem;
}
main .c-destaques .cards-highlights {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1rem;
  font-family: var(--ffprimaria);
}
main .c-destaques .cards-highlights span {
  font-weight: 700;
}
main .c-destaques .cards-highlights .highlights-card-1 {
  background-image: url(../assets/img/pessoa1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-position-y: 2rem;
  padding-top: 0.3rem;
  background-color: var(--branco);
  box-shadow: 0 0 4px 0 var(--azul-s6);
  border-top: 7px solid var(--preto);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  height: 20rem;
  width: 16rem;
}
main .c-destaques .cards-highlights .highlights-card-2 {
  background-image: url(../assets/img/pessoa2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-position-y: 2rem;
  padding-top: 0.3rem;
  background-color: var(--branco);
  box-shadow: 0 0 4px 0 var(--azul-s6);
  border-top: 7px solid var(--azul-s6);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  height: 20rem;
  width: 16rem;
}
main .c-destaques .cards-highlights .highlights-card-3 {
  background-image: url(../assets/img/pessoa3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-position-y: 2rem;
  padding-top: 0.3rem;
  background-color: var(--branco);
  box-shadow: 0 0 4px 0 var(--azul-s6);
  border-top: 7px solid rgb(0, 82, 91);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  height: 20rem;
  width: 16rem;
}

@media screen and (min-width: 801px) {
  .buttons {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .menu-desktop {
    display: none;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: var(--ffprimaria);
  border-top: 1px solid rgb(233, 225, 225);
}

.container .card {
  width: 95vw;
  margin-bottom: 2rem;
  text-align: left;
  border-radius: 20px;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .card p {
  width: 60vw;
}

.card .icon {
  width: 5rem;
  height: 5rem;
}

.card img {
  height: 100%;
  border-radius: 100%;
}

.container h3 {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1.1rem;
  justify-content: center;
}

.container-prox-concurso {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: #EDEDED;
  margin-top: 3rem;
  border: 0.3px solid rgb(233, 225, 225);
  border-bottom: none;
}

section .title-card {
  font-size: 1.1rem;
  font-family: var(--ffprimaria);
  margin-bottom: 1.3rem;
  margin-top: 1.5rem;
  text-align: center;
}
section .card-concurso {
  width: 16rem;
  height: 16rem;
  border: none;
  line-height: 2.5rem;
  margin: 0.62rem 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.62rem;
  border-radius: 0.62rem;
  box-shadow: 0 0 4px 0 #d9dde0;
  background-color: white;
  color: var(--preto);
}
section .card-concurso a {
  text-decoration: none;
  color: var(--preto);
}

.item-title-card {
  font-size: 0.75rem;
  padding: 0.625rem 0.9375rem;
  font-family: var(--ffprimaria);
  font-style: bold;
  border-top: 0.35rem solid var(--azul);
  border-bottom: 0.05rem solid rgb(248, 230, 230);
}

.alert-vagas {
  font-size: 2.25rem;
  margin-top: 0.4rem;
}

.alert-valor {
  font-size: 1.8rem;
}

.container-vantagens {
  font-family: var(--ffprimaria);
  color: white;
  display: grid;
  width: 100%;
  height: 100%;
  background-color: var(--azul-s5);
  place-items: center;
  justify-items: center;
  margin: 1rem 0;
  border-top: 0.05rem solid black;
}

.logo-vantagens {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 1rem;
}

section .card-vantagens {
  text-align: center;
  margin-top: 0.8rem;
  width: 16rem;
  height: 33vh;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
}
section h2 {
  font-size: 1.4rem;
  font-weight: bold;
}
section p {
  font-size: 0.9rem;
  word-wrap: break-word;
  text-align: center;
  width: 90%;
  margin-left: 10px;
  line-height: 1.3rem;
}

.title-card-vantagens {
  font-size: 1.1rem;
  font-family: var(--ffprimaria);
  margin-bottom: 1.3rem;
  margin-top: 1.5rem;
  width: 70vw;
  text-align: center;
}

.card-concurso:hover {
  box-shadow: 0 3px 8px 0 rgba(181, 186, 189, 0.7490196078);
  transform: scale(1.1);
  transition: transform 500ms;
}

.planos-title {
  color: var(--branco);
  font-family: var(--ffprimaria);
  font-size: 180%;
  margin: 1rem;
}

#section-planos {
  background-color: var(--azul-s5);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.valor-destaque1 {
  margin: 0;
  text-decoration: line-through;
  font-family: var(--ffprimaria);
}

.valor-destaque2 {
  color: black;
  font-weight: bold;
  font-size: 240%;
  font-family: var(--ffprimaria);
}

.plano {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: var(--branco);
  color: black;
  margin: 1.5rem 2rem;
  border-radius: 1rem;
  padding: 1rem;
}

.container-vendas {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.plano-content {
  max-width: 30ch;
}

.plano-content p, .plano-content h4, .plano-content ul {
  margin: 1rem;
}

.plano-content li {
  margin: 0.2rem 1rem;
}

.plano-button {
  font-size: 120%;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 4px 0 var(--azul-s6);
  padding: 0.2rem 2rem;
  background-color: var(--azul);
  color: var(--branco);
  font-family: var(--ffsecond);
}

.plano-name {
  font-family: var(--ffprimaria);
  font-size: 180%;
}

.plano-benefic {
  font-family: var(--ffprimaria);
  font-size: 120%;
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */