.container {
    display: flex;
    // justify-content: center;
    flex-flow: column;
    text-align: center;
}

.container .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5rem 1rem;

}

.card .icon {
    width: 80px;
    border-radius: 100%;
}

.card .texto {
    padding: 0 0.7rem;
}

.card .texto p {
    text-align: left;
    // width: 100%;
    font-size: 0.75rem;
}