// Barra de Navegação
nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;

    background-color: var(--branco);

    position: fixed;
    width: 100%;
    z-index: 100;

    #open-menu-btn {
        border: none;
        background-color: transparent;
    }

    #close-menu-btn {
        display: none;

        border: none;
        background-color: transparent;
    }

    .menu-list {

        background-color: var(--preto);

        position: absolute;
        z-index: 1;
        top: 100%;
        right: 0;
        height: 100%;
        width: 60vw;
        justify-content: center;
        display: none;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;    
            justify-content: space-around;

        }

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: white;
                font-family: var(--ffprimaria);
            }
        }
    }
}


// hero

main {

    padding-top: 5rem;

    .hero {

        display: flex;
        justify-content: center;
        background-color: var(--preto);
        height: 30rem;
        align-items: center;

        .card-hero {

            background-color: var(--branco);
            padding: 2rem;
            height: 15rem;
            display: flex;
            align-items: center;
            border-radius: 1rem;

            box-shadow: -6px 6px 12px 0px var(--azul);
        }


        .elements-hero {

            font-family: var(--ffprimaria);

            h1 {
                font-size: 1.2rem;
                color: var(--preto);

                //text-shadow: -10px 7px 10px var(--preto);
            }

            button {

                padding: .4rem;
                border: none;
                border-radius: .2rem;

                margin-top: .6rem;

                color: var(--branco);
                background-color: var(--azul);

                font-weight: 700;

                box-shadow: -3px 7px 7px 1px var(--preto);
            }
        }
    }

// Destaques

    .c-destaques {

        background-color: var(--azul);

        height:50rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        h1 {

            color: var(--branco);
        }

        .cards-highlights {

            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            gap: 1rem;

            font-family: var(--ffprimaria);

            span {

                font-weight: 700;
            }

            .highlights-card-1 {

                background-color: var(--branco);
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                border-radius: 0.5rem;

                height: 12.5rem;
                width: 16rem;


                button {

                    border: none;

                    padding: .5rem;
                    border-radius: .3rem;

                    background-color: var(--azul);
                    color: var(--branco);
                }

            }

            .highlights-card-2 {

                background-color: var(--branco);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                border-radius: 0.5rem;

                height: 12.5rem;
                width: 16rem;

                button {

                    border: none;

                    padding: .5rem;
                    border-radius: .3rem;

                    background-color: var(--azul);
                    color: var(--branco);
                }
            }

            .highlights-card-3 {

                background-color: var(--branco);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                border-radius: 0.5rem;

                height: 12.5rem;
                width: 16rem;

                button {

                    border: none;

                    padding: .5rem;
                    border-radius: .3rem;

                    background-color: var(--azul);
                    color: var(--branco);
                }
            }
        }
    }
}
