// Barra de Navegação
nav {

    .menu-desktop {

        font-family: var(--ffprimaria);

        ul {

            display: flex;

            list-style: none;

            li {

                margin-left: 3rem;

                a {

                    text-decoration: none;
                    color: var(--preto);
                }
            }
        }
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;

    background-color: var(--branco);

    position: fixed;
    width: 100%;
    z-index: 100;

    #open-menu-btn {
        border: none;
        background-color: transparent;
    }

    #close-menu-btn {
        display: none;

        border: none;
        background-color: transparent;
    }

    .menu-list {

        background-color: var(--preto);

        position: absolute;
        z-index: 1;
        top: 100%;
        right: 0;
        height: 50vh;
        width: 50vw;
        justify-content: center;
        display: none;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;    
            justify-content: space-around;

        }

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: white;
                font-family: var(--ffprimaria);
            }
        }
    }
}


// hero

main {

    padding-top: 5rem;


    .hero {
        width:100%;
        display: flex;
        justify-content: center;
        height: 30rem;
        align-items: center;
        background-color: #3d52af;
        background-image: url(../assets/img/img-hero3.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        
        .card-hero {

            background-color: transparent;
            padding: 2rem;
            height: 30rem;
            width: 100%;
            opacity: 85%;
            background-color: rgb(0, 0, 0);

            display: flex;
            flex-direction: column;
            align-items: center;


            #btn-hero {
                justify-content: center;
                border: none;
                height: 2rem;
            
                border-radius: .5rem;
                margin-top: 2rem;
                color: var(--branco);
                background-color: blue;
                font-weight: 700;
                box-shadow: -3px 7px 7px 1px var(--preto);
            }
        }


        .elements-hero {
            display: flex;
            flex-direction: column;
            font-family: var(--ffprimaria);
            margin-top: 8rem;
            
            h1 {
                font-size: 2.32rem;
                color: rgb(255, 255, 255);
                text-align: center;
                //text-shadow: -10px 7px 10px var(--preto);
            }


            p {

                margin-top: 1rem;
                color: white;
                text-align: center;
                font-size: 1rem;
            }
        } 
    }

// Destaques

    .c-destaques {

        

        height:80rem;
        box-shadow: 0 0 4px 0 var(--azul-s6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--azul-s5);
        font-family: var(--ffprimaria);
        text-align: center;
        border-top: 0.1rem solid black;
        border-bottom: 0.1rem solid black;
        
        h1 {

            color: var(--branco);

        }

        p {

            color: var(--branco);
            width: 90%;
            font-size: .9rem;

        }


        .cards-highlights {

            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            gap: 1rem;

            font-family: var(--ffprimaria);

            span {

                font-weight: 700;
            }

            .highlights-card-1 {

                background-image: url(../assets/img/pessoa1.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center top;
                background-position-y: 2rem;
                padding-top: .3rem;

                background-color: var(--branco);

                box-shadow: 0 0 4px 0 var(--azul-s6);

                border-top: 7px solid var(--preto);
                
                display: flex;
                flex-direction: column;
                align-items: center;

                border-radius: 0.5rem;

                height: 20rem;
                width: 16rem;


            }

            .highlights-card-2 {

                background-image: url(../assets/img/pessoa2.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center top;
                background-position-y: 2rem;
                padding-top: .3rem;

                background-color: var(--branco);

                box-shadow: 0 0 4px 0 var(--azul-s6);

                border-top: 7px solid var(--azul-s6);
                
                display: flex;
                flex-direction: column;
                align-items: center;

                border-radius: 0.5rem;

                height: 20rem;
                width: 16rem;

            }

            .highlights-card-3 {

                background-image: url(../assets/img/pessoa3.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center top;
                background-position-y: 2rem;
                padding-top: .3rem;

                background-color: var(--branco);

                box-shadow: 0 0 4px 0 var(--azul-s6);

                border-top: 7px solid rgb(0, 82, 91);
                
                display: flex;
                flex-direction: column;
                align-items: center;

                border-radius: 0.5rem;

                height: 20rem;
                width: 16rem;

            }
        }
    }

}


@media screen and (min-width: 801px) {

    .buttons {

        display: none;
    }

    nav {

        position: relative;
    }

    main {

        padding-top: 0;
    }

    #btn-hero {

        width: 25%;
    }
}

@media screen and (max-width: 800px) {

    .menu-desktop {

        display: none;
    }

    .menu-list {

        display: none;
    }

    #btn-hero {

        width: 10rem;
    }
}