.planos-title {
  color: var(--branco);
  font-family: var(--ffprimaria);
  font-size: 180%;
  margin: 1rem;
}

#section-planos {
  background-color: var(--preto);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.valor-destaque1 {
  margin: 0;
  text-decoration: line-through;
  font-family: var(--ffprimaria);
}

.valor-destaque2 {
  color:black;
  font-weight: bold;
  font-size: 240%;
  font-family: var(--ffprimaria);
}

.plano {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: var(--branco);
  color: black;
  margin: 1.5rem 2rem;
  border-radius: 1rem;
  padding: 1rem;
}


.container-vendas {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.plano-content {
  max-width: 30ch;
}

.plano-content p, .plano-content h4, .plano-content ul{
  margin: 1rem;
}

.plano-content li {
  margin: .2rem 1rem;
}


.plano-button {
  font-size: 120%;
  border-radius: 2rem;
  padding: 0.2rem 2rem;
  background-color: var(--azul);
  color: var(--branco);
  font-family: var(--ffsecond);
}

.plano-name {
  font-family: var(--ffprimaria);
  font-size: 180%;
}

.plano-benefic {
  font-family: var(--ffprimaria);
  font-size:120%;
  font-weight: bold;
}

