.planos-title {
  color: var(--branco);
  font-family: var(--ffprimaria);
  font-size: 180%;
  margin: 1rem;
}

#section-planos {
  background-color: var(--preto);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.valor-destaque1 {
  color: lightgray;
  font-weight: bold;
  font-size: 130%;
  font-family: var(--ffprimaria);
}

.valor-destaque2 {
  color:black;
  font-weight: bold;
  font-size: 180%;
  font-family: var(--ffprimaria);
}

.plano {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: var(--branco);
  color: black;
  margin: 1.5rem 2rem;
  border-radius: 1rem;
  padding: 1rem;
}


.container-vendas {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.plano-content {
  max-width: 30ch;
}

.plano-content *{
  margin: 1rem;
}

.plano-button {
  font-size: 140%;
  border-radius: 2rem;
  padding: 0.2rem 2rem;
  background-color: var(--azul);
  color: var(--branco);
  font-family: var(--ffprimaria);
  font-weight: bold;
}

.plano h3 {
  font-family: var(--ffprimaria);
  font-size: 180%;
}

.plano-benefic {
  background-color: violet;
}